.single-container {
    width: 100vw;
}

.single-pn {
    width: calc(100vw - 50px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 20px;
}

.single-pn > * {
    text-decoration: none;
}

.single-pokemon {
    margin: 5px 50px;
    display: grid;
    grid-template-areas: 
    "name index"
    "sprite abilita"
    "sprite tipi"
    "sprite info";
}

.single-tipi {
    grid-area: tipi;
    display: flex;
}

.single-type-container {
    width: 50px;
    height: 50px;
    padding: 1px 20px;
    text-align: center;
    margin: 0px 0px 0px 10px;
    border-radius: 20px;
}

